
/****** Drop Object if Exists:  
Table [Sales].[CustomerAddress]  
******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Sales].[CustomerAddress]') AND type in (N'U'))
DROP TABLE [Sales].[CustomerAddress]
GO
/****** Object:  
Table [Sales].[CustomerAddress]  
******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[CustomerAddress](
	[CustomerID] [int] NOT NULL,
	[AddressType] [dbo].[Name] NOT NULL,
	[AddressLine1] [nvarchar](60) NOT NULL,
	[AddressLine2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NOT NULL,
	[StateProvince] [dbo].[Name] NOT NULL,
	[CountryRegion] [dbo].[Name] NOT NULL,
	[PostalCode] [nvarchar](15) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [CompositPK_CustomerAddress_CustomerIDAddressType] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[AddressType] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Insert Scripts:  
Table [Sales].[CustomerAddress] 
******/
	INSERT [Sales].[CustomerAddress] ([CustomerID], [AddressType], [AddressLine1], [AddressLine2], [City], [StateProvince], [CountryRegion], [PostalCode], [ModifiedDate]) VALUES (29485, N'Main Office', N'57251 Serene Blvd', NULL, N'Van Nuys', N'California', N'United States', N'91411', CAST(N'2007-09-01T00:00:00.000' AS DateTime))
	INSERT [Sales].[CustomerAddress] ([CustomerID], [AddressType], [AddressLine1], [AddressLine2], [City], [StateProvince], [CountryRegion], [PostalCode], [ModifiedDate]) VALUES (29486, N'Main Office', N'Tanger Factory', NULL, N'Branch', N'Minnesota', N'United States', N'55056', CAST(N'2005-09-01T00:00:00.000' AS DateTime))
	INSERT [Sales].[CustomerAddress] ([CustomerID], [AddressType], [AddressLine1], [AddressLine2], [City], [StateProvince], [CountryRegion], [PostalCode], [ModifiedDate]) VALUES (29489, N'Main Office', N'6900 Sisk Road', NULL, N'Modesto', N'California', N'United States', N'95354', CAST(N'2005-07-01T00:00:00.000' AS DateTime))
	GO
/****** Object:  Default Constraints for CustomerAddress Table
[ModifiedDate]
******/
	ALTER TABLE [Sales].[CustomerAddress] ADD  CONSTRAINT [DF_CustomerAddress_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
	GO
/****** Object:  Foreign Key for CustomerAddress Table with Customer Table
[CustomerID]
******/
	ALTER TABLE [Sales].[CustomerAddress]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddress_Customer_CustomerID] FOREIGN KEY([CustomerID])
	REFERENCES [Sales].[Customer] ([CustomerID])
	GO
	ALTER TABLE [Sales].[CustomerAddress] CHECK CONSTRAINT [FK_CustomerAddress_Customer_CustomerID]
	GO